@page "/machines"
@using MachineMaintenanceScheduler.Features.Machines.Interfaces
@using MachineMaintenanceScheduler.Features.Machines.Models
@using MachineMaintenanceScheduler.Features.Machines.Services
@using MachineMaintenanceScheduler.Features.Machines.Components
@using MachineMaintenanceScheduler.Features.MaintenanceRules.Interfaces
@using MachineMaintenanceScheduler.Features.MaintenanceRules.Models
@using MachineMaintenanceScheduler.Features.Skills.Interfaces
@using MachineMaintenanceScheduler.Features.Skills.Models
@using MachineMaintenanceScheduler.Shared.Components
@using MachineMaintenanceScheduler.Shared.Modals
@using MachineMaintenanceScheduler.Shared.Services
@attribute [StreamRendering]
@rendermode InteractiveServer

<h3 class="mb-4">All Machines</h3>

<button class="btn btn-primary btn-sm" @onclick="ShowAddModal">Add Machine</button>

@if (machines is null || !machines.Any())
{
    <p>No machines available.</p>
}
else
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var machine in machines)
        {
            <div class="col d-flex">
                <MachineCard Machine="machine"
                             OnEdit="ShowUpdateModal"
                             OnDelete="ShowDeleteModal" />
            </div>
        }
    </div>
}

<AddMachine IsVisible="@isAddMachineVisible" AllMachineMaintenanceRules="maintenanceRules"
            AllSkills="skills" OnClose="CloseAddModal" OnAdd="HandleMachineAdd" />

<EditMachine IsVisible="@isUpdateMachineVisible" AllMachineMaintenanceRules="maintenanceRules"
             AllSkills="skills" MachineToEdit="selectedMachine"
             OnClose="CloseUpdateModal" OnUpdate="HandleMachineUpdated" />

<DeleteMachine IsVisible="@isDeleteMachineVisible"
                    Machine="selectedMachine"
                    OnClose="CloseDeleteModal"
                    OnDelete="HandleMachineDeleted" />

<ToastMessageModal IsVisible="@isToastVisible"
            Message="@toastMessage"
            ToastType="ToastType.Warning" />
@code {
    #region Variables
    private List<Machine> machines = new();
    private List<MachineMaintenanceRule> maintenanceRules = new();
    private List<Skill> skills = new();

    private bool isAddMachineVisible = false;
    private bool isUpdateMachineVisible = false;
    private bool isDeleteMachineVisible = false;
    private Machine? selectedMachine = null;

    private bool isToastVisible;
    private string toastMessage = "";
    #endregion

    #region Injected Services
    [Inject] public IMaintenanceRuleService _maintenanceRuleService { get; set; } = default!;
    [Inject] public IMachineService _machineService { get; set; } = default!;
    [Inject] public IMachineValidator _machineValidator { get; set; } = default!;
    [Inject] public ISkillService _skillService { get; set; } = default!;
    [Inject] public IToastService _toastService { get; set; } = default!;
    #endregion

    #region Lifecycle Methods
    protected override async Task OnInitializedAsync()
    {
        await LoadMachinesAsync();
    }
    #endregion

    #region Data Loading
    private async Task LoadMachinesAsync()
    {
        machines = await _machineService.GetMachinesWithMaintenanceRulesAsync();
        maintenanceRules = await _maintenanceRuleService.GetAllRulesAsync();
        skills = await _skillService.GetAllSkillsAsync();
    }
    #endregion

    #region Add Machine Modal
    private void ShowAddModal()
    {
        if (!maintenanceRules.Any())
            _toastService.ShowToastMessage("Please add maintenance rules before adding Machine.", ToastType.Warning);
        else
            isAddMachineVisible = true;

    }

    private void CloseAddModal()
    {
        isAddMachineVisible = false;
    }

    private async void HandleMachineAdd(Machine machine)
    {
        var result = _machineValidator.ValidateMachine(machine);
        if (!result.IsValid)
        {
            _toastService.ShowToastMessage(result.GetFormattedErrors());
            return;
        }

        await _machineService.CreateMachineAsync(machine);
        await LoadMachinesAsync();
        isAddMachineVisible = false;
    }
    #endregion

    #region Update Machine Modal
    private void ShowUpdateModal(Machine machine)
    {
        if (!maintenanceRules.Any())
        {
            _toastService.ShowToastMessage("Please add maintenance rules before updating machine.", ToastType.Warning);
        }
        else
        {
            selectedMachine = machine;
            isUpdateMachineVisible = true;
        }
    }

    private void CloseUpdateModal()
    {
        isUpdateMachineVisible = false;
    }

    private async void HandleMachineUpdated(Machine machine)
    {
        var result = _machineValidator.ValidateMachine(machine);
        if (!result.IsValid)
        {
            _toastService.ShowToastMessage(result.GetFormattedErrors());
            return;
        }

        await _machineService.UpdateMachineAsync(machine);
        await LoadMachinesAsync();
        isUpdateMachineVisible = false;

    }
    #endregion

    #region Delete Machine Modal
    private void ShowDeleteModal(Machine machine)
    {
        selectedMachine = machine;
        isDeleteMachineVisible = true;
    }

    private void CloseDeleteModal()
    {
        isDeleteMachineVisible = false;
    }

    private async void HandleMachineDeleted(Machine machine)
    {
        await _machineService.DeleteMachineAsync(machine.Id);
        await LoadMachinesAsync();
        isDeleteMachineVisible = false;
    }
    #endregion
}
