@using MachineMaintenanceScheduler.Features.Machines.Interfaces
@using MachineMaintenanceScheduler.Features.Machines.Models
@using MachineMaintenanceScheduler.Features.MaintenanceRules.Models
@using MachineMaintenanceScheduler.Features.Skills.Models
@using MachineMaintenanceScheduler.Shared.Layout

<Modal Title="Add Machine"
       IsVisible="@IsVisible"
       OnClose="OnClose">
    <ChildContent>
        @if (!string.IsNullOrWhiteSpace(validationError))
        {
            <div class="alert alert-danger">@validationError</div>
        }

        <label>Name:</label>
        <input class="form-control" @bind="Machine.Name" />

        <label>Serial No.:</label>
        <input class="form-control" @bind="Machine.SerialNumber" />

        @if (AllMachineMaintenanceRules.Any())
        {
            <label>Machine Maintenance Rule:</label>
            <select class="form-select" @bind="Machine.MachineMaintenanceRuleId">
                @foreach (var machineMaintenanceRule in AllMachineMaintenanceRules)
                {
                    <option value="@machineMaintenanceRule.Id">@machineMaintenanceRule.Name</option>
                }
            </select>
        }

        @if (AllSkills.Any())
        {
            <label>Skill:</label>
            <select class="form-select" @bind="Machine.RequiredSkillId">
                @foreach (var skill in AllSkills)
                {
                    <option value="@skill.Id">@skill.Name</option>
                }
            </select>
        }
    </ChildContent>

    <FooterContent>
        <button class="btn btn-primary" @onclick="ConfirmAdd">Save</button>
        <button class="btn btn-secondary" @onclick="OnClose">Cancel</button>
    </FooterContent>
</Modal>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public List<MachineMaintenanceRule> AllMachineMaintenanceRules { get; set; } = new();
    [Parameter] public List<Skill> AllSkills { get; set; } = new();
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback<Machine> OnAdd { get; set; }

    private Machine Machine { get; set; } = new();
    private string? validationError;

    [Inject] public IMachineValidator _machineValidator { get; set; } = default!;

    protected override void OnParametersSet()
    {
        if (IsVisible)
        {
            ResetForm();
        }
    }

    private void ResetForm()
    {
        validationError = null;

        Machine = new Machine
        {
            Id = Guid.NewGuid(),
            Name = "",
            SerialNumber = ""
        };
    }

    private async Task ConfirmAdd()
    {
        var result = _machineValidator.ValidateMachine(Machine);
        if (!result.IsValid)
        {
            validationError = result.GetFormattedErrors();
            return;
        }

        validationError = null;

        await OnAdd.InvokeAsync(Machine);
        await OnClose.InvokeAsync();
    }

}
